/******************************************************************
Stylesheet: Variables
******************************************************************/

// Devices
$desktop: 1600px;
$tablet: 980px;
$lg-mobile: 680px;
$sm-mobile: 500px;

// Dimensions
$max-width: 1064px; 

// Colors

$orange: #fe5000;
$lt-orange: #ffd1bc;
$blue: #002f6c;
$lt-blue: #006CF8;
$gold: #FF9E0D;
$dk-gold: #98733D;

$purple: #6054D2;
$red: #fa1201;
$dk-red: #79170C;
$green: #14CB50;
$teal: #00B19F;
$lt-teal: #00FEE3;

$lt-grey: #ddd;
$md-grey: #aaa;
$black: #222;

// Fonts
$lato: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
$serif: 'Libre Baskerville', serif;
